{% ckan_extends %}

{% block links -%}
  <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(controller='package', action='read', id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_showcase_list', _('Showcases'), id=pkg.name) }}
{% endblock %}

{# Get rid of info block (package title, follower count and follow button) #}
{% block package_info %}
{% endblock %}

{# This is a "backport" of a bugfix in CKAN 2.2.1 (see issue https://github.com/ckan/ckan/issues/1934 #}
{% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization_dict(pkg.organization.name) %}
      {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
    {% endif %}
{% endblock %}
