{% ckan_extends %}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
  {% block resource_read_url %}
    {% if res.url %}
      <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">

    {% set descriptions = h.get_resource_descriptions(res) %}
    {% if descriptions %}
      {% for description in descriptions %}
        <p>{{ h.render_markdown(description, allow_html=True) }}</p>
      {% endfor %}
    {% else %}
      <h3>{{ _('From the dataset abstract') }}</h3>
      <blockquote>{{ h.markdown_extract(c.package.get('notes')) }}</blockquote>
      <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
  </div>
{% endblock %}

{% block data_preview %}
  {% if c.resource.resource_type != "api" %}
    {% block resource_view %}
      {% block resource_view_nav %}
        {% set resource_preview = h.resource_preview(c.resource, c.package) %}
        {% snippet "package/snippets/resource_views_list.html",
           views=resource_views,
           pkg=pkg,
           is_edit=false,
           view_id=current_resource_view['id'],
           resource_preview=resource_preview,
           resource=c.resource,
           extra_class="nav-tabs-plain"
         %}
      {% endblock %}
      <div class="module-content">
        {% block resource_view_content %}
          <div class="resource-view">
            {% set resource_preview = h.resource_preview(c.resource, c.package) %}
            {% set views_created = res.has_views or resource_preview %}
            {% if views_created %}
              {% if resource_preview and not current_resource_view %}
                {{ h.resource_preview(c.resource, c.package) }}
              {% else %}
                {% for resource_view in resource_views %}
                  {% if resource_view == current_resource_view %}
                    {% snippet 'package/snippets/resource_view.html',
                       resource_view=resource_view,
                       resource=c.resource,
                       package=c.package
                     %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% else %}
              {# Views not created #}
              <div class="module-content data-viewer-info">
                <p>{{ _("There are no views created for this resource yet.") }}</p>
                {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
                  <p class="muted">
                    <i class="fa fa-info-circle"></i>
                    {{ _("Not seeing the views you were expecting?")}}
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
                      {{ _('Click here for more information.') }}</a>
                  </p>
                  <div id="data-view-info" class="collapse">
                    <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                    <ul>
                      <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                      <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                      <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                    </ul>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  {% endif %}
{% endblock %}

{% block resource_license %}
   {# Social media links should not be displayed #}
{% endblock %}
