html,
.account-masthead,
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a,
.homepage .module-search .tags,
.hero .tags {
    background-color: #0E2B56;
}

.masthead,
.hero .module-dark .module-content,
.homepage .module-search .module-content,
.site-footer {
    background-color: #1F52A3;
}

.additional-info {
  padding: 0 25px;
  margin: 20px 0;
}

.additional-info table td{
  border-top: none;
}

.additional-info table .heading {
    font-weight: bold;
}

.control-label {
  word-wrap: normal;
}

.page-heading {
  word-wrap: break-word;
}

.icon-google-plus-sign {
    color: #dd4b39;
}

.icon-twitter-sign {
    color: #55acee;
}

.icon-facebook-sign {
    color: #3B5999;
}

h3 {
    font-size: 14px;
}

.follow_button {
    display: none;
}
