{% extends "snippets/search_form.html" %}

{% block search_input %}
  <div class="search-input control-group {{ search_class }}">
    <input id="ogdzh_search"
           type="text"
           class="search"
           name="q"
           value="{{ query }}"
           autocomplete="off"
           placeholder="{{ placeholder }}"
           data-module="autocomplete-ogdzh_search">
    {% block search_input_button %}
    <button type="submit" value="search">
      <i class="fa fa-search"></i>
      <span>{{ _('Submit') }}</span>
    </button>
    {% endblock %}
  </div>
{% endblock %}
