html,
.account-masthead,
.account-masthead a,
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a,
.homepage .module-search .tags,
.hero .tags {
    background-color: #0E2B56;
    color: #FFF;
}

.masthead,
.hero .module-dark .module-content,
.homepage .module-search .module-content,
.site-footer {
    background-color: #1F52A3;
}

.masthead .content {
    left: 0px;
    width: 100%;
}

.masthead .site-search {
    position: absolute;
    right: 0px;
}

.account-masthead .nav-tabs:after,
.account-masthead .nav-pills:after {
    clear: none;
}

.account-masthead .nav,
.account-masthead .account {
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.header-icon {
    vertical-align: text-bottom;
}

.additional-info {
  padding: 0 25px;
  margin: 20px 0;
}

.additional-info table td{
  border-top: none;
}

.additional-info table .heading {
    font-weight: bold;
}

.control-label {
    word-wrap: normal;
}

.page-heading {
    word-wrap: break-word;
}

.icon-google-plus-sign {
    color: #dd4b39;
}

.icon-twitter-sign {
    color: #55acee;
}

.icon-facebook-sign {
    color: #3B5999;
}

h3 {
    font-size: 14px;
}

.follow_button {
    display: none;
}

.package-comments,
.package-dataquality,
table.package-attributes {
    font-size: 13px;
}

table.package-metadata td,
table.package-metadata th {
    padding-left: 0px;
}

.footer-links {
    width: 300px;
}
