html,
.account-masthead,
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a,
.homepage .module-search .tags,
.hero .tags {
    background-color: #0E2B56;
}

.masthead,
.hero .module-dark .module-content,
.homepage .module-search .module-content,
.site-footer {
    background-color: #1F52A3;
}

.additional-info {
  padding: 0px 0px;
  margin: 20px 0;
}

.additional-info table td{
  border-top: none;
}

.additional-info table .heading {
    font-weight: bold;
}

.control-label {
  word-wrap: normal;
}

.page-heading {
  word-wrap: break-word;
}

.icon-google-plus-sign {
    color: #dd4b39;
}

.icon-twitter-sign {
    color: #55acee;
}

.icon-facebook-sign {
    color: #3B5999;
}

.package-dataquality h5 {
    margin-top: 0px;
}

.package-dataquality {
    padding-bottom: 10px;
}

.follow_button {
    display: none;
}

table.package-metadata {
    margin-bottom: 0px;
}

table.package-metadata td,
table.package-metadata th {
    padding-left: 0px;
}

table.package-metadata,
.module-content .tags,
ul.resource-list,
.package-comments,
.package-dataquality,
.package-attributes {
    margin-left: 20px;
}
