{% ckan_extends %}

{% block basic_fields %}
    {% block basic_fields_url %}
      {% set is_upload = (data.url_type == 'upload') %}
      {% snippet 'package/snippets/resource_upload_field.html',
        data=data,
        errors=errors,
        is_url=data.url and not is_upload,
        is_upload=is_upload,
        is_upload_enabled=h.uploads_enabled(),
        url_label=_('URL'),
        upload_label=_('File'),
        placeholder=_('http://example.com/external-data.csv') %}
    {% endblock %}

    {% block basic_fields_name %}
      {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('eg. January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full']) }}
    {% endblock %}

    {% block basic_fields_description %}
      {{ form.markdown('description', id='field-description', label=_('Description of the resource'), placeholder=_('Some useful notes about the data'), value=data.description, error=errors.description) }}
    {% endblock %}

    {% block basic_fields_format %}
      {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
      {% call form.input('format', id='field-format', label=_('Format'), placeholder=_('eg. CSV, XML or JSON'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
        <span class="info-block info-block-small">
          <i class="fa fa-info-circle"></i>
          {{ _('This will be guessed automatically. Leave blank if you wish') }}
        </span>
      {% endcall %}
    {% endblock %}

  {% block basic_fields_filename %}
    <input name="filename" value="{{ data.filename }}" type="hidden"/>
  {% endblock %}

  {% block markdown_snippet %}
    {{ form.markdown('markdown_snippet', id='field-description', label=_('Markdown zur Anzeige von interaktiven Notebooks'), placeholder=_('[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](YOUR_NOTEBOOK_URL_HERE)'), value=data.markdown_snippet, error=errors.markdown_snippet) }}
  {% endblock %}

{% endblock %}
