{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('Search datasets...') %}

  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <div class="search-input control-group search-giant">
      <input id="ogdzh_search" type="text"
                   type="text"
                   class="search"
                   name="q"
                   value="{{ query }}"
                   autocomplete="off"
                   placeholder="{{ placeholder }}"
                   data-module="autocomplete-ogdzh_search">
      <button type="submit">
        <i class="fa fa-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  <h3>{{ _('Popular tags') }}</h3>
  {% for tag in tags %}
    <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
  {% endfor %}
