{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <meta name="robots" content="noindex" />
{% endblock %}

{%- block title -%}
  Open Data Zürich - Stadt Zürich
{%- endblock -%}

{% block links -%}
  <link rel="shortcut icon" href="/favicon.ico" />
{% endblock -%}

{% block styles %}
{{ super() }}
  {% resource 'stadtzhtheme/auto-complete.css' %}
  {% resource 'stadtzhtheme/stadtzhtheme.css' %}
  {% resource 'stadtzhtheme/masonry.pkgd.js' %}
  {% resource 'stadtzhtheme/auto-complete.js' %}
  {% resource 'stadtzhtheme/autocomplete-ogdzh-facet-search.js' %}
  {% resource 'stadtzhtheme/autocomplete-ogdzh-header-search.js' %}
{% endblock %}
