{% ckan_extends %}

{%- block title -%}
  Open Data Zürich - Stadt Zürich
{%- endblock -%}

{% block links -%}
  <link rel="shortcut icon" href="/favicon.ico" />
{% endblock -%}

{% block styles %}
{{ super() }}
  {% resource 'stadtzhtheme/auto-complete.css' %}
  {% resource 'stadtzhtheme/stadtzhtheme.css' %}
  {% resource 'stadtzhtheme/masonry.pkgd.js' %}
  {% resource 'stadtzhtheme/auto-complete.js' %}
  {% resource 'stadtzhtheme/autocomplete-ogdzh_search.js' %}
  {% resource 'stadtzhtheme/autocomplete-sitewide-search.js' %}
{% endblock %}
