<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <nav class="footer-links row-fluid">
        {% block logo %}
          <ul class="unstyled row-fluid">
          <a class="logo" href="/"><img src="/logo.png" alt="CKAN Logo" title="CKAN Logo"></a>
          </ul>
        {% endblock %}
      </nav>
      <nav class="footer-links row-fluid">
        {% block footer_nav_1 %}
          <ul class="unstyled row-fluid">
            {% block footer_links_1 %}
              <li><a href="https://data.integ.stadt-zuerich.ch/about">Über den Katalog</a></li>
            <li><a href="http://www.stadt-zuerich.ch/portal/de/index/ogd/nutzungsbedingungen.html">Nutzungsbedingungen</a></li>
              <li><a href="http://stadt-zuerich.ch/portal/de/index/ogd/kontakt.html">Kontakt</a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
      <nav class="footer-links row-fluid">
        {% block footer_nav_2 %}
          <ul class="unstyled row-fluid">
            {% block footer_links_3 %}
              <li><a href="https://github.com/opendatazurich" target="_blank">Quellcode</a></li>
              <li><a href="http://ckan.org/" target="_blank">Entwickelt mit CKAN</a></li>
              <li><a href="https://okfn.org/" target="_blank">Open Knowledge</a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
